---
layout: layouts/base.vto
title: Home
---

<header>
  <h1 class="text-2xl font-bold">{{ title }}</h1>
</header>

<p class="mt-2">
  This is a boilerplate to create a <a href="https://lume.land/" target="_blank" class="font-bold underline"
  >Lume</a> theme
</p>
